section.banner {
	margin-top: 20px;
	position: relative;
	overflow: hidden;

}

section.banner img {
	height: 307px;
	width: 980px;
	border: 1px none #999;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	behavior: url(PIE.htc);
	z-index: -1;
	display: none;

}

/*
section.banner #leftArrow {
	position: absolute;
	height: 50px;
	width: 50px;
	/*background: url('../images/imgSlider/arrow_left.png') no-repeat center;
	top: 124px;
	opacity: 0.4;
}

section.banner #rightArrow {
	position: absolute;
	height: 50px;
	width: 50px;
	/*background: url('../images/imgSlider/right_arrow.png') no-repeat center;
	top: 124px;
	opacity: 0.4;
	right: 2px;
	
}
*/

section.banner #caption {
	
	height: 31px;
	width: 816px;
	margin-top: -2px;
	line-height: 16px;
	color: #ffffff;
	font-size: 12px;
	padding: 10px;
	background-color: #000000;
	border: 1px none #999;
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
	behavior: url(PIE.htc);



}

section.banner ul {
	background-color: #000000;
	height: 51px;
	width: 144px;
	margin-top: -2px;
	border: 1px none #999;
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
	behavior: url(PIE.htc);
}

/*section.banner ul li a {
	font-weight: bold;
	font-size: 12px;
}*/
section.banner ul li {
	display: inline;
	background: url('../images/circle.png') no-repeat center;
	width: 25px;
    height: 28px;
 	text-align: center;
 	float: left;
	display: inline;
	text-transform: uppercase;
 	font-size: 12px;
 	font-weight: bold;
 	margin-right: 10px;
 	margin-top: 10px;
 	line-height: 26px;
 	color: #cbcbcb;
}

section.banner .selected {
	background: url('../images/selected_circle.png') no-repeat center;
	color: #ffffff;
}

/*customize nivo*/
.nivo-directionNav .nivo-prevNav {
  background:transparent url('../images/imgSlider/arrow_left.png') no-repeat center;
  height:50px; /*height of img*/
  width:50px; /*width of img*/
  text-indent:-10000px; /*moving the default text*/
  overflow:hidden; /*hiding the default text*/
  margin-left: 10px;

}

.nivo-directionNav .nivo-nextNav {
  background:transparent url('../images/imgSlider/right_arrow.png') no-repeat center;
  height:50px; /*height of img*/
  width:50px; /*width of img*/
  text-indent:-10000px; /*moving the default text*/
  overflow:hidden; /*hiding the default text*/
  margin-right: 10px;
  opacity: 0.4;
}

.nivo-directionNav .nivo-prevNav, .nivo-directionNav .nivo-nextNav {
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";

  /* IE 5-7 */
  filter: alpha(opacity=40);

  /* Netscape */
  -moz-opacity: 0.4;

  /* Safari 1.x */
  -khtml-opacity: 0.4;

  /* Good browsers */
  opacity: 0.4;
}

.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	font-size: 12px;
	line-height: 16px;
    font-family: "Arial", Helvetica, sans-serif;
	padding: 5px 145px 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}

.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
	border: 1px none #999;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	behavior: url(PIE.htc);
}


.nivo-controlNav {
	position: absolute;
    bottom: -5px;
    right: 10px;
    
    opacity: 0.8;
    margin-right: -20px;
    width: 140px;
    z-index: 9;
}  

.nivo-controlNav a {
	background: url('../images/circle.png') no-repeat center;
	width: 30px;
    height: 30px;
    font-size: 12px;
 	font-weight: bold;
 	line-height: 28px;
 	display: block;
 	float: left;
}

.nivo-controlNav a.active {
	background: url('../images/selected_circle.png') no-repeat center;
	width: 30px;
    height: 30px;
    margin-right: 5px;
    font-size: 12px;
 	font-weight: bold;
 	line-height: 28px;
 	display: block;
 	float: left;
}